<div *ngFor="let product of products" class="col-md-4 offset-md-4 animate fadeIn fast">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ product.imageURL }}" alt="{{ product.name }}">
        <mat-card-content>
            <p>
                {{ product.description }}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button (click)="deleteProduct(product._id)" mat-stroked-button color="warn">Delete</button>
            <button [routerLink]="[ '/product/edit', product._id ]" mat-stroked-button color="primary">Update</button>
        </mat-card-actions>
    </mat-card><br>
</div>