<div class="row">
    <div class="col-md-4 offset-md-4">
        <mat-card class="animated fadeIn fast">
            <mat-card-title align="center">
                Product Create
            </mat-card-title>
            <mat-card-content align="center">


                <mat-form-field>
                    <input mat-form-field-control name="name" [(ngModel)]="product.name" autofocus matInput placeholder="Name Prodcut">
                </mat-form-field>

                <mat-form-field>
                    <textarea name="description" [(ngModel)]="product.description" matInput placeholder="Product Description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <input name="price" [(ngModel)]="product.price" matInput placeholder="Product Price">
                </mat-form-field>
                <mat-form-field>
                    <input name="imgURL" [(ngModel)]="product.imageURL" matInput placeholder="Image URL">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button (click)="edit ? updateProduct() : submitProduct()" mat-stroked-button color="primary">Save</button>
            </mat-card-actions>

        </mat-card>
    </div>
</div>